[Service]
KillMode=process
ExecStart=/home/corona/current/bin/heaviside -i br1 -d /home/corona/current/var/dhcp

[Install]
WantedBy=multi-user.target
